.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 50px 0 0 -32px;
  padding: 0;
  font-size: 18px;
  display: flex;
}

.react-tabs__tab {
  display: inline-block;
  background-color: #DB9186;
  border-radius: 5px 5px 0 0;
  color: white;
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 15px;
  width: 170px;
  cursor: pointer;
  text-align: center;
  position: relative;
}

.react-tabs__tab::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -5px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.react-tabs__tab--selected::before {
  transform: scaleX(1);
}

.react-tabs__tab--selected {
  background: #BD7678;
  border-color: #BD7678;
  color: white;
  font-weight: bold;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
